// TOOLS
@import "_variables.less";
@import "_mixins.less";

:root {
  color-scheme: dark;
}

html, body { 
  background:var(--dark-background);
}
ul.container li.card {
  background:var(--dark-base-01);
  box-shadow:0 0 0 1px var(--dark-base-shadow);
  
  .header {
   h5 {
     color:var(--dark-text-03);
   }
  }

   .contents {
    
     &.overflow { 
       &::after {
         background: transparent;
         background: linear-gradient(0deg, var(--dark-base-01) 0%, transparent 100%);
         border-bottom:5px solid var(--dark-base-01);
       }
     }
     
     h1,h2,h3,h4 { 
      color:var(--dark-text-01); 
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
     }
     
     p,li {
       color:var(--dark-text-02);
       
       strong {
         color:var(--dark-text-01); 
       }
       
       code {
         border-color:var(--dark-accent);
         background:var(--dark-base-02);
         color:var(--dark-text-01);
       }
     }
     
     div.embed,
     div.video {
       background:var(--dark-base-02);
     }
     
     hr {
       border-bottom-color:var(--dark-accent);
     }
     
     ul,ol {
       li {
         color:var(--dark-text-02);
         
         strong {
           color:var(--dark-text-01); 
         }
        }
     }
     
     ul li {
       &::marker {
         color:var(--dark-accent);
       }
     }
     ol li {
       &::marker {
         color:var(--dark-text-01);
       }
     }
     
     blockquote {
       background:var(--dark-base-02);
       border:1px solid var(--dark-base-shadow);
       color:var(--dark-text-01);
     }
     
   }
   
   label {
     background:var(--dark-base-02);
     color:var(--dark-text-03);
   }
   
   &.completed {
     box-shadow:0 0 0 2px var(--dark-complete);
     
     &::before {
      background-color:var(--dark-complete); 
     }
   }
   
   &.expose {
     &.completed {
       box-shadow:0 0 0 2px var(--dark-complete);   
     }
     a.expander {
       background:var(--dark-base-02);
       color:var(--dark-text-01);
     }
     
     .contents p a {
       color:var(--dark-text-link)!important;
       
       &:hover {
         color:var(--dark-text-link-hover)!important;
       }
     }
   }
}