:root {
  --light-text-01: #253642;
  --light-text-02: #574F4B;
  --light-text-03: #8A7B74;
  --light-text-link: #892CDC;
  --light-text-link-hover: #253642;
  --light-base-shadow: 0px 0px 0px 1px rgba(6, 20, 34, 0.1), 0px 1px 0px 0px rgba(0, 0, 0, 0.09), 0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 3px 3px 0px rgba(0, 0, 0, 0.02), 0px 4px 4px 0px rgba(0, 0, 0, 0.01);
  --light-accent: #892cdc;
  --light-complete: #47C47D;
  --light-base-01: #FFFFFF;
  --light-base-02: #FAF8F7;
  --light-background: #FAF8F7;
  --dark-text-01: #FFFFFF;
  --dark-text-02: #EDE8E6;
  --dark-text-03: #A79FC6;
  --dark-text-link: #36FF8D;
  --dark-text-link-hover: #FFFFFF;
  --dark-base-shadow: rgba(255, 255, 255, 0.1);
  --dark-accent: #36FF8D;
  --dark-complete: #47C47D;
  --dark-base-01: #1B1341;
  --dark-base-02: rgba(0, 0, 0, 0.3);
  --dark-background: #231955;
}
:root {
  color-scheme: dark;
}
html,
body {
  background: var(--dark-background);
}
ul.container li.card {
  background: var(--dark-base-01);
  box-shadow: 0 0 0 1px var(--dark-base-shadow);
}
ul.container li.card .header h5 {
  color: var(--dark-text-03);
}
ul.container li.card .contents.overflow::after {
  background: transparent;
  background: linear-gradient(0deg, var(--dark-base-01) 0%, transparent 100%);
  border-bottom: 5px solid var(--dark-base-01);
}
ul.container li.card .contents h1,
ul.container li.card .contents h2,
ul.container li.card .contents h3,
ul.container li.card .contents h4 {
  color: var(--dark-text-01);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
ul.container li.card .contents p,
ul.container li.card .contents li {
  color: var(--dark-text-02);
}
ul.container li.card .contents p strong,
ul.container li.card .contents li strong {
  color: var(--dark-text-01);
}
ul.container li.card .contents p code,
ul.container li.card .contents li code {
  border-color: var(--dark-accent);
  background: var(--dark-base-02);
  color: var(--dark-text-01);
}
ul.container li.card .contents div.embed,
ul.container li.card .contents div.video {
  background: var(--dark-base-02);
}
ul.container li.card .contents hr {
  border-bottom-color: var(--dark-accent);
}
ul.container li.card .contents ul li,
ul.container li.card .contents ol li {
  color: var(--dark-text-02);
}
ul.container li.card .contents ul li strong,
ul.container li.card .contents ol li strong {
  color: var(--dark-text-01);
}
ul.container li.card .contents ul li::marker {
  color: var(--dark-accent);
}
ul.container li.card .contents ol li::marker {
  color: var(--dark-text-01);
}
ul.container li.card .contents blockquote {
  background: var(--dark-base-02);
  border: 1px solid var(--dark-base-shadow);
  color: var(--dark-text-01);
}
ul.container li.card label {
  background: var(--dark-base-02);
  color: var(--dark-text-03);
}
ul.container li.card.completed {
  box-shadow: 0 0 0 2px var(--dark-complete);
}
ul.container li.card.completed::before {
  background-color: var(--dark-complete);
}
ul.container li.card.expose.completed {
  box-shadow: 0 0 0 2px var(--dark-complete);
}
ul.container li.card.expose a.expander {
  background: var(--dark-base-02);
  color: var(--dark-text-01);
}
ul.container li.card.expose .contents p a {
  color: var(--dark-text-link) !important;
}
ul.container li.card.expose .contents p a:hover {
  color: var(--dark-text-link-hover) !important;
}
